#sugestaoParticipacao{
	width:250px;
	padding: 10px;
	background: rgba(51, 51, 51, 0.8);
	margin: 3px 10px 0 0;
	float:right;
}
#sugestaoParticipacao p{
	font:14px Roboto;
	font-weight: 300;
	color: white;
}