body{
    background: url('../../img/background.jpg') fixed;
    background-attachment: fixed;
    background-size:250%;
    background-position:-200px;
}
.footer{
    position:fixed;
    bottom:0;
    right:0;
    padding:5px 10px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.64), rgba(51,51,51,0.64));
    border-radius:5px 0 0 0;
    box-shadow:0 0 20px #000000;
}
.footer p{
    color:#FFFFFF;
    margin:0;
    font-size: 9px
}