body{
    background: url('../../img/background.jpg') fixed;
    background-size:100%;
}
.footer{
    position:fixed;
    bottom:0;
    right:0;
    padding:10px 20px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.64), rgba(51,51,51,0.64));
    border-radius:5px 0 0 0;
    box-shadow:0 0 20px #000000;
}
.footer p{
    color:#FFFFFF;
    margin:0;
}